* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  height: 100%;
}

.App {
  min-height: 100vh;
}

.fa-facebook-f {
  color: blue;
}

.pageTitle {
  font-family: 'Dancing Script', cursive;
  position: relative;
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 20px;
  width: fit-content;
  margin: 20px auto;
}

.pageTitle::before {
  content: '';
  height: 50%;
  width: 120%;
  background-color: #FDE900;
  position: absolute;
  left: -5%;
  bottom: 0;
  transition: width .3s;
  z-index: -10;
}

.weather {
  font-family: 'Dancing Script', cursive;
  display: none;
  height: 130px;
  width: 300px;
  overflow-y: scroll;
  background-color: #000;
  color: white;
  font-size: 1.2rem;
  margin-top: 20px;
  border-radius: 18px;
  padding: 5px 5px;
}

.weather__header {
  display: flex;
  justify-content: space-between;
}

.weather__header p {
  width: 33%;
  text-align: center;
}

.weather__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 4px;
}

.weather__item p {
  width: 33%;
  text-align: center;
}

.backgroundSVG--left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  right: 0;
  width: 100%;
  height: auto;
  max-width: 700px;
}

.backgroundSVG--right {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -100;
  width: 60%;
  height: auto;
}

.header {
  font-family: 'Dancing Script', cursive;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  background: linear-gradient(90deg, rgba(230, 215, 89, 0.73) 31.77%, rgba(153, 183, 64, 0.98) 45.68%);
  box-shadow: 3px 0 5px black;
}

.header__logo {
  height: 60px;
  width: auto;
}

.header__title {
  font-size: 2.2rem;
}

.header__hamburger {
  width: 28px;
  height: 18px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid #FDE900;
  padding: 4px;
  box-sizing: content-box;
}

.header__hamburger:hover {
  border: 1px solid white;
}

.header__hamBar {
  width: 100%;
  height: 3px;
  background-color: #FDE900;
}

.deskNav {
  display: none;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  top: 10%;
  background: linear-gradient(160.12deg, rgba(230, 215, 89, 0.73) 0%, rgba(153, 183, 64, 0.98) 71.17%);
  border: 2px solid #FDE900;
}

.nav a .fa-facebook-f {
  margin-top: 10px;
}

.nav .weather {
  display: block;
}

.nav__item {
  font-size: 4rem;
  position: relative;
  color: black;
  text-decoration: none;
}

.nav__item::before {
  content: '';
  height: 50%;
  width: 2px;
  background-color: #FDE900;
  position: absolute;
  bottom: 0;
  left: -10px;
  transition: width .3s;
  z-index: -10;
}

.nav__social {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.nav__social a {
  height: 25px;
  width: 25px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 2px;
}

.nav__facebook {
  height: 15px;
  width: 15px;
}

.nav .nav__item:hover::before {
  width: calc(100% + 20px);
  z-index: -10;
}

.nav .active::before {
  width: calc(100% + 20px);
  z-index: -10;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__img {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;
  background-attachment: fixed;
  z-index: 5;
  transition: z-index .3s;
}

.home .home__img:hover + .home__textWrapper {
  opacity: 0.2;
}

.home__textWrapper {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(9px);
  width: 90%;
  position: absolute;
  top: 60vh;
  padding: 15px;
  border-radius: 15px;
  z-index: 10;
  transition: opacity .5s;
  background: rgba(255, 255, 255, 0.637);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.home__text {
  font-size: 1.2rem;
  letter-spacing: .5px;
}

.home__buttons {
  font-family: 'Dancing Script', cursive;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.home__button {
  position: relative;
  font-size: 1.8rem;
  text-decoration: none;
  color: #000;
  z-index: 1;
}

.home__button::before {
  content: '';
  width: 140%;
  height: 50%;
  background-color: #FDE900;
  position: absolute;
  left: -20%;
  bottom: 0;
  transition: width .3s;
  z-index: -5;
  transition: height .3s;
}

.home .home__button:hover::before {
  height: 100%;
}

.news {
  overflow: hidden;
}

.news__cardWrapper {
  margin: 10px auto;
  width: 258px;
  overflow: hidden;
  background: linear-gradient(82.2deg, rgba(255, 230, 21, 0.5) 4.89%, rgba(153, 183, 64, 0.295) 190.8%), #FFFFFF;
  border: 1px solid #F5E223;
  border-radius: 7px;
  box-shadow: 0px 1px 6px #747373;
}

.news__cardUp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 124px;
}

.news__image {
  position: relative;
  top: 10px;
  box-shadow: 0px 3px 7px #313131;
  max-width: 80%;
  max-height: 100px;
}

.news__cardDown {
  padding: 5px 10px;
  background-color: #fff;
  width: 100%;
  min-height: 147px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__title {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.news__content {
  font-size: 1.2rem;
}

.news__buttons {
  align-self: flex-end;
}

.news__button {
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  padding: 3px 6px;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #FDE900;
  border: none;
  border-radius: 5px;
}

.galery__items {
  display: flex;
  flex-flow: wrap column;
  width: 100%;
  align-items: center;
  position: relative;
}

.galery__itemsTitle {
  margin-left: 10px;
  text-decoration: underline;
}

.galery__item {
  width: 90%;
  height: auto;
  margin: 10px;
  box-shadow: 3px 3px 5px #6b6a6a;
}

.galery__bigPhotoWrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(53, 53, 53, 0.527);
}

.galery__bigPhoto {
  max-width: 95%;
  max-height: 100vh;
}

.galery__dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

.galery__date {
  z-index: 20;
  font-size: 3rem;
  padding: 10px 30px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.78);
  box-shadow: 0 8px 32px 0 rgba(98, 103, 168, 0.842);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-decoration: none;
  color: black;
}

.galery__date:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.galery__bgItem {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: -10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.galery__bgItem--1 {
  background-image: url("../images/20210619_110116_017s.jpg");
}

.galery__bgItem--2 {
  background-image: url("../images/20210619_110116_020s.jpg");
}

.galery__bgItem--3 {
  background-image: url("../images/20210619_110116_023s.jpg");
}

.galery__bgItem--4 {
  background-image: url("../images/20210619_110116_026s.jpg");
}

.galery__bgItem--5 {
  background-image: url("../images/20210619_110116_029s.jpg");
}

.galery__bgItem--6 {
  background-image: url("../images/20210619_110116_032s.jpg");
}

.galery__bgItem--7 {
  background-image: url("../images/20210619_110116_035s.jpg");
}

.galery__bgItem--8 {
  background-image: url("../images/20210619_110116_040s.jpg");
}

.galery__bgItem--9 {
  background-color: rgba(5, 5, 5, 0.692);
}

.admin {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin input,
.admin button {
  font-family: 'Montserrat', sans-serif;
}

.admin__form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.admin__addThings {
  background-color: rgba(41, 102, 126, 0.377);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 800px;
}

.admin__addThings {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(41, 102, 126, 0.377);
}

.admin__item {
  margin: 5px;
}

.admin__console {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin__galeryItem {
  position: relative;
}

.admin__delete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__info {
  font-size: 1.9rem;
  background: linear-gradient(103.34deg, rgba(255, 255, 255, 0.623) 0%, rgba(231, 231, 231, 0.267) 100%, white 100%);
  backdrop-filter: blur(8px);
  padding: 10px;
  border-radius: 17px;
}

.contact__info a:hover {
  text-decoration: underline;
}

.contact__infoItem {
  display: block;
  margin: 20px 10px;
  text-decoration: none;
  color: black;
}

.contact__map {
  margin-top: 10px;
  border: 1px solid black;
  width: 100%;
  min-height: 300px;
  height: 50vh;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 120%;
    height: 120%;
    opacity: 0;
  }
}

.offer li {
  list-style: inside;
}

.offer__upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  z-index: 10;
}

.offer__left {
  padding: 10px;
  width: 70%;
  margin-bottom: 20px;
  align-self: flex-start;
  border: 2px #FDE900 dashed;
  z-index: 10;
  position: relative;
}

.offer__right {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}

.offer__SVG {
  position: relative;
  z-index: 0;
  height: auto;
  width: 100%;
  margin: 10px auto;
}

.offer__routesOptions {
  text-decoration: underline;
}

.offer__routesOption {
  margin: 2px 0;
  text-decoration: none;
}

.offer__down {
  padding: 0 10px;
  width: 70%;
  border: #FDE900 dashed 1px;
  width: 250px;
}

.offer__price {
  margin: 10px auto;
  width: 95%;
}

.offer__priceText span {
  font-weight: 700;
  text-decoration: underline;
}

.offer__imagesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer__img {
  width: 100%;
  height: auto;
  margin: 5px auto;
}

.offer #river1, .offer #river2, .offer #river3, .offer #river4, .offer #river5 {
  position: relative;
  z-index: 0;
}

.regulamin__content {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.regulamin__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  border-bottom: 2px solid #FDE900;
  margin-bottom: 15px;
}

.regulamin__number {
  font-size: 1.6rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: inline-block;
  padding: 0 2px;
  text-align: center;
}

.regulamin__text {
  align-self: flex-start;
  margin: 5px 0;
}

.regulamin__umowa {
  position: fixed;
  right: 0vh;
  background-color: #4d4fdb;
  padding: 5px 10px;
  border-radius: 7px;
  top: 80px;
  right: 0;
  border: none;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color .3s, color .3s;
}

.regulamin__umowa:hover {
  color: #4d4fdb;
  border: 1px solid #4d4fdb;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */